@import "./variables";

// top nav styling
.navegador > * {
  padding-right: 0;
  padding-left: 0;
}

.appbar-color {
  background-color: $white !important;
  border-bottom: 2px solid $primary-grey;
  top: 0;
  box-shadow: none !important;
  height: 100px;
}
.setStyle button{
  padding: 12px 30px 12px 220px !important;
}

.btnStyle{
  position: relative !important;
  left: 100%;
}

// nav tabs styling
.tab{
  background: $white !important;
  color: $light-grey !important;
}
