// top nav styling
.navegador > * {
  padding-right: 0;
  padding-left: 0;
}

.appbar-color {
  background-color: #fff !important;
  border-bottom: 2px solid #E9E9E9;
  top: 0;
  box-shadow: none !important;
  height: 100px;
}

.setStyle button {
  padding: 12px 30px 12px 220px !important;
}

.btnStyle {
  position: relative !important;
  left: 100%;
}
